.search {
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.days {
  display: flex;
  justify-content: space-between;
}

.day {
  border: 1px solid #ccc;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;

  &.selected {
    background-color: #333;
  }

  &:hover {
    background-color: #333;
  }
}