@import "@/sass/variables.scss";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem;

  @media (min-width: $screen-sm) {
    height: 100vh;
    margin-top: 4rem;
  }
}

.main {
  width: 100%;
  max-width: 600;
  text-align: center;
}
